__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Database
*.db
*.sqlite3

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dataset
dataset/known_faces/*.jpg
dataset/known_faces/*.png
dataset/encodings/*.pkl

# Attendance records
attendance_records/logs.csv
attendance_records/exports/*